.main-container {
    display: flex;

    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;
}

body {
    margin: 0;

    font-family: Lato, sans-serif;
    background-color: #121212;

    color: white;
}

:visited, :link {
    color: #1ABC9C;
}

.music-container {
    width: 100%;
}

.music-art {
    position: absolute;

    transition: opacity 400ms ease-in-out;
    opacity: 0;
}

@media screen and (max-device-width: 480px) {
    .max-width {
        max-width: 80vw;
    }

    body {
        font-size: 2em;
    }

    input[type=text], input[type=number] {
        font-size: 2rem;
    }

    #artists, #song_name {
        font-size: unset !important;
    }

    #spotify-auth {
        font-size: 2rem;
    }


    input[type=checkbox] {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (min-device-width: 481px) {
    .max-width {
        max-width: 40vh;
    }
}


.hover_over {
    position: absolute;

    background-color: rgba(0, 0, 0, .5);
    display: flex;

    width: 100%;
    aspect-ratio: 1/1;

    z-index: -1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-art-container {
}

@supports (aspect-ratio: 1/1) {
    .song-art-container {
        aspect-ratio: 1/1;
    }
}

#artists {
    font-size: 1rem;
}

#song_name {
    font-size: 1.2rem;
    max-lines: 3;
    overflow-style: marquee-line;
}

.mini-container {
    display: flex;
    align-items: center;
}

#dice {
    height: 3.5em;
    width: 3.5em;

    filter: invert();
}

.drop-item {
    margin: 0;
}

.drop-container {
    background-color: #202020;
    padding: 5px 10px;
    z-index: 3;
    position: absolute;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#year_to, #year_from {
    width: 3em;
}

#play_pause {
    height: 50px;
    width: 50px;

    margin: 7px;
    padding: 7px;

    object-fit: contain;

    filter: invert();
    font-weight: 500;
}

.drop-item:hover {
    font-weight: 900;
    color: teal;
}

.opacity-hundred {
    opacity: 100%;
}

input {
    background-color: #202020;
    color: white;
    padding: .3em;

    accent-color: #1ABC9C;
    border: 2px solid #202020
}


.top-label {
    display: flex;
    flex-direction: column;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    text-align: center;
}

button {
    background-color: #1ABC9C;

    border: none;
    padding: 1rem;

    font-weight: bold;

    border-radius: .5rem;
}

#progress {
    transition: width 500ms linear;
}

#knob {
    width: .75em;
    height: .75em;
    border-radius: 10px;
    background-color: white;

    position: absolute;
    cursor: move;
    user-select: none;

    transition: left 100ms linear;
    left: 0;
    margin-left: calc(15% - 0.375em);
}
