<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href="/static/index.css" rel="stylesheet">
</head>
<body>

<div class="main-container">
    <div style="width: 80%" class="max-width">
        <h1>Spotify Random Track</h1>
        <div class="mini-container">
            <div class="music-container max-width">
                <div class="mini-container" style="justify-content: space-between">
                    <div>
                        <label for="genre_search" class="top-label">
                            <span>Genre</span>
                            <input id="genre_search" type="text" value="{{ selected_genre }}"
                                   placeholder="Pop, Rock, ...">
                        </label>

                        <div class="drop-container" id="drop-container" hidden="hidden">
                        </div>
                    </div>
                    <label for="year-container" class="top-label">
                        <span>Year</span>
                        <div id="year-container">
                            <input type="number" id="year_from" pattern="[1,2][9,0]\d\d" value="{{ start_year }}">
                            <span style="padding: 0 2px"> - </span>
                            <input type="number" id="year_to" pattern="[1,2][9,0]\d\d" value="{{ end_year }}">
                        </div>
                    </label>

                </div>
                <div class="mini-container" style="justify-content: space-evenly; margin-top: 16px">
                    <label for="show_live">
                        <input type="checkbox" id="show_live" {{ live }}>
                        Show Live-Songs
                    </label>

                    <label for="show_remix">
                        <input type="checkbox" id="show_remix" {{ remix }}>
                        Show Remixes
                    </label>
                </div>

                <div id="song_art_container" class="song-art-container max-width" style="margin-top: 1rem;">
                    <div id="hover_over" class="hover_over max-width">
                        <img id="play_pause" src="/static/play-button.png">

                        <div style="width: 70%; padding-top: 1rem; padding-bottom: 1rem;" id="scroll-bar">
                            <div style="height: .4em; background-color: grey; display: flex; align-items: center; border-radius: 2px">
                                <div id="progress" style="background-color: white; height: 100%; width: 0">
                                </div>
                                <div id="knob"></div>
                            </div>
                        </div>
                    </div>
                    <img src="" id="song_art_bottom" class="music-art max-width" width="100%"
                         onload="bottom_image_loaded()">
                    <img src="" id="song_art" class="music-art max-width" width="100%" onload="top_image_loaded()">
                </div>
                <div class="button_row" style="filter: invert();">
                    <div style="flex: 1; padding: .5em; box-sizing: border-box">
                        <a href="javascript:back()" id="back" class="hide">
                            <img src="/static/return.png">
                        </a>
                    </div>
                    <a href="javascript:dice(false)"
                       style="flex: 2; display: flex; justify-content: center; align-items: center; padding: .5em; box-sizing: border-box; text-decoration: none">
                        <img src="/static/dice.png">
                        <span style="text-decoration: none" class="random_text">Random</span>
                    </a>
                    <div style="flex: 1; padding: .5em; box-sizing: border-box"></div>
                </div>
                <div style="display: flex; justify-content: space-between">
                    <div>
                        <p style="margin-bottom: .25rem">
                            <span id="artists"></span><br>
                            <a id="song_url" target="_blank"><span id="song_name"></span></a><br>
                        </p>
                        <p id="genres" style="margin-top: 0"></p>
                    </div>


                    <div style="margin-top: 1em; margin-bottom: 1em; flex-direction: column; margin-left: .5rem">
                        <a href="#">
                            <img id="fav" src="/static/playlist.png" alt="Add to Playlist">
                        </a>
                    </div>
                </div>


                <div>
                    <button id="spotify-auth" onclick="authorizeSpotify()">Create Spotify Playlist</button>
                    <div>
                        <a target="_blank" id="create-playlist-progress" hidden=""> 0 / 50 </a>
                    </div>
                </div>
                <audio id="audio"></audio>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const genre_list = [{{ GENRE_LIST | safe }}];
    let selected_genre = '{{ selected_genre }}';
</script>
<script src="/static/functionality.js"></script>
<script src="/static/spotify_integration.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127069816-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-127069816-1');
</script>

</html>
